.sub-container {
  overflow: hidden;

  .list-group {
    line-height: 46px;
    text-align: center;
   height: 472px;
    div.list-group-item {
    //   background-color: aliceblue;
      font-size: 15px;
       
    }
  }
}
