.fluid-container {
    background-color: aliceblue;
    height: 575px;
}
h1{
    margin-top:10px !important;
}
.todo-list{
    font-size:25px;
    justify-content: space-around;
}

.edit-btn{
    width: 100%;
}
.reset-btn{
    width: 100%;
}
.btn-submit{
    width:100%;
}
.checkbox-btn{
        width: 20px;
        height: 20px;
        float: right;
        border-radius: 50%;
}

.title{
    margin-bottom:40px;
}
.view-anchorTag{
    float: right;
}