.expense-container {
  background-color: aliceblue;
  height: 575px;
  h1 {
    margin-top: 10px !important;
  }
  .expense-tracker {
    margin-top: 40px;
  }
  .todo-list {
    font-size: 25px;
    justify-content: space-around;
  }

  .edit-btn {
    width: 100%;
  }
  .reset-btn {
    width: 100%;
  }
  .btn-submit {
    width: 100%;
  }
  .checkbox-btn {
    width: 20px;
    height: 20px;
    float: right;
    border-radius: 50%;
  }

  .title {
    margin-bottom: 40px;
  }
  .view-anchorTag {
    a {
      color: midnightblue !important;
    }
    display: flex;
    justify-content: flex-end;
  }
  .expense-submit {
    width: 100%;
    margin-bottom: 10px;
  }
  .date {
    margin-bottom: 30px;
  }
  .alignCenter {
    display: flex;
    align-items: center;
  }
  .viewExpense-title {
    margin-bottom: 40px;
    color: MidnightBlue;
  }
  .view-expense-list {
    margin: 40px;
  }
}
