#table-data tr:nth-child(even) {
    background-color: GhostWhite !important;
    cursor: pointer;
}

#table-data str:hover {
    background-color: GhostWhite !important;
}

thead{
    background-color: MidnightBlue;
    color:white
}

.dispalyTotal {
    background-color: MidnightBlue;
    color:white;
}
.edit-icon{
    cursor: pointer;
}