.back-navigation {
  background-color: midnightblue;
  .back-navigation-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      color: white;
      margin-bottom: 20px;
    }
    svg {
      fill: white;
    }
    .profile-icon {
      margin-right: 40px;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      padding-right: 0 !important;
    }
    .back-icon {
      color: white;
      margin-left: 40px;
      cursor: pointer;
      padding-left: 0 !important;
    }
  }
}
